src/main/resources/backup/stepfunctions.json
{
  "Comment": "Ice Cream Parlor Workflow",
  "StartAt": "TakeOrder",
  "States": {
    "TakeOrder": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$",
          "StringEquals": "icecream",
          "Next": "CreateDessert"
        },
        {
          "Variable": "$",
          "StringEquals": "water",
          "Next": "ServeWater"
        }
      ],
      "Default": "ServeWater"
    },
    "CreateDessert": {
      "Comment": "Creating Dessert...",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_takeorder",
      "Next": "AddContainer"
    },
    "AddContainer": {
      "Comment": "Adding Container...",
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_addcontainer",
      "Next": "AddIceCream"
    },
    "AddIceCream": {
      "Comment": "Adding Ice Cream...",
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_addicecream",
      "Next": "AddToppings"
    },

    "AddToppings": {
      "Comment": "Adding Toppings...",
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_addtoppings",
      "Next": "ServeDessert"
    },
    "ServeDessert": {
      "Comment": "Serving Dessert...",
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "ServeOne",
          "States": {
            "ServeOne": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_serveicecream",
              "End": true
            }
          }
        },
        {
          "StartAt": "ServeTwo",
          "States": {
            "ServeTwo": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:959687418799:function:order66_parlor_serveicecream",
              "End": true
            }
          }
        }
      ]
    },
    "ServeWater": {
      "Comment": "Serving Water",
      "Type" : "Fail",
      "Cause": "Enjoy your WATER!!!!"
    }
  }
}
